.button {
    height: 100%;
    width: 30%;
    background-color: rgb(120, 176, 221);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #d3f1fa;
    box-sizing: content-box;
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .button:focus {
    outline: none;
  }

  .custom-hover :hover {
    background-color: #ecf0f1;
  }